header {
  background: transparent;
  padding: 1rem;

  font-weight: bold;
}

header a {
  text-decoration: none;
  color: orange;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header .active {
  text-decoration: underline;
}
